# 환경 변수 파일
.env
.runtimeconfig.json

# Node.js 의존성
node_modules/

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제 파일
.DS_Store
Thumbs.db

# IDE 설정 파일
.vscode/
.idea/
*.swp
*.swo
*~

# 빌드 결과물
dist/
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc.local

# Firebase Functions
functions/node_modules/
functions/.runtimeconfig.json
functions/firebase-debug.log
